// @import "/projects/web-client/src/assets/scss/styles.scss";
@import "../styles.scss";
.temperature-cards{

  --row-height: 10rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(var(--row-height), min-content));
  grid-auto-rows: var(--row-height);

  margin-bottom: 2.4rem;

  @include respond(tab-port){
    grid-template-columns: 1fr 1fr ;
  };

  @include respond(phone){
    grid-template-columns: 1fr ;
  };

}
